<div class="container new-post">
  <div class="row">
    <%= render 'blogs/index/side_menu' %>
    <div id="main-content" class="col-sm-9">
      <h1>Edit post</h1>
        <%= bootstrap_form_for @blog do |f| %>
          <%= f.text_field  :title,
                            maxlength: 100,
                            placeholder: @blog.title,
                            class: 'form-control',
                            required: true,
                            minlength: 5,
                            maxlength: 100 %>
          <%= f.text_area :content,
                          rows: 6,
                          required: true,
                          minlength: 10,
                          maxlength: 1000,
                          placeholder: @blog.content,
                          class: 'form-control' %>
          <%= f.submit "Submit Changes", class: 'form-control' %>
          <br>
          <%= link_to "Delete", blog_path,
              method: :delete,
              data: {confirm: "Delete Post?"} %>
        <% end %>
    </div>
  </div>
</div>
