<div class="container">
  <div class="row">
    <%= render 'blogs/index/side_menu' %>
    <div id="main-content" class="col-sm-9">
      <h3><%= @blog.title %></h3>
      <p><%= @blog.content %></p>
      <div class="posted-by">Posted by <%= @blog.user.name %></div>
      <% if current_user.id == @blog.user_id %>
      <br>
      <a href="/blogs/<%=@blog.id%>/edit">Edit</a>
      <% end %>
    </div>

  </div><!-- row -->
</div>
