<div class="container">
  <div class="row">
    <%= render 'blogs/index/side_menu' %>
    <div id="main-content" class="col-sm-9">
      <h3><%= @blog.title %></h3>
      <p><%= @blog.content %></p>
      <div class="posted-by">Posted by <%= @blog.user.name %></div>
      <% if current_user.id == @blog.user_id %>
      <br>
      <a href="/blogs/<%=@blog.id%>/edit">Edit</a>
      <% end %>
      <br>
      <div class="comment-section">
        <h4 class="text-center">Comments</h4>
          <% @blog.comments.each do |c| %>
            <% if c.id == nil %>
              <% c.user_id = 0 %>
            <% else %>
              <strong><%= c.user.name %></strong>: <%= c.content %><br>
            <% end %>
            <% if user_signed_in? && current_user.id == c.user_id %>
              <div id="link"><a href="/blogs/<%=@blog.id%>/comments/<%=c.id%>/edit">edit comment</a></div>
            <% end %>

              <hr>
          <% end %>

          <% if user_signed_in? %>
            <%= bootstrap_form_for([@blog, @blog.comments.build]) do |f| %>
              <%= f.text_field :content %><br />
              <%= f.submit "Comment" %>
            <% end %>
          <% end %>

          <br>
      </div>

    </div>

  </div><!-- row -->
</div>
