<%= render 'blogs/modal' %>

<div class="container">
  <div class="row">
    <%= render 'users/profile/side_content' %>
    <%= render 'users/profile/main_content' %>
  </div><!-- row -->
</div><!-- container -->

<%= javascript_include_tag 'blogs/style.js'%>
<%= javascript_include_tag 'blogs/modal.js'%>
